@import 'tailwindcss';

@theme {
  --color-primary: #059669;
  --color-primary-dark: #047857;
  --color-danger: #dc2626;
  --color-warning: #d97706;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  padding-bottom: env(safe-area-inset-bottom);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
